:root {
    --color-primary-brand: #4d5ae5; /* IRIS */
    --color-pressed-state: #404bbf; /* OCEAN */
    --color-dark: #2e2f42; /* NAVY BLUE */
    --color-success: #31d0aa; /* GREEN */
    --color-text: #434455; /* SLATE */
    --color-subtle-text: #8e8f99; /* LIGHT SLATE */
    --color-accent: #e7e9fc; /* CORNFLOWER */
    --color-light: #f4f4fd; /* CLOUD */
    --color-modal-overlay: #662e2f42; /* NAVY BLUE MODAL */
    --color-hero-background: #2e2f42; /* GREY */
    --color-white-background: #ffffff; /* WHITE */
    --color-modal-background: #fcfcfc; /* DAIRY */
}

.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    background-color: var(--color-white-background);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav, li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


.footer {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-primary-brand);
}

.logo-dark {
    color: var(--color-dark);
}

.logo-light {
    color: var(--color-light);
}

/* Header region */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 156px;
    background-color: var(--color-accent);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.nav-list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-list a {
    color: var(--color-dark);
    text-decoration: none;
}

.nav-list a:hover {
    color: var(--color-pressed-state);
}

.nav-list a:active {
    color: var(--color-pressed-state);
    text-decoration: underline;
}

.nav-list a:focus {
    color: var(--color-pressed-state);
}

.contact-info {
    display: flex;
    gap: 40px;
}

.contact-info a {
    color: var(--color-text);
    text-decoration: none;
}

.contact-info a:hover {
    color: var(--color-pressed-state);
}

.contact-info a:focus {
    color: var(--color-pressed-state);
}

/* end region */

.section-order {
    background-color: var(--color-dark);
}



.section-team {
    background-color: var(--color-light);
}

.team-item {
    background-color: var(--color-white-background);
    text-align: center;
}

.project-item {
    background-color: var(--color-white-background);
}

.button {
    color: var(--color-white-background);
    background-color: var(--color-primary-brand);
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-pressed-state);
}

.button:active {
    background-color: var(--color-pressed-state);
}

.button:focus {
    background-color: var(--color-pressed-state);
}

/* Title/Header 1 */
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    color: var(--color-white-background);
}

/* Header 2 */
.text-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

/* Header 3 */
.text-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

/* Body */
.text-body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* small */
.text-small {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.17;
}

/* Body Medium */
.text-body-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* ButtonText */
.button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
}

/* Link */
.text-link {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.33;
    text-decoration: underline;
}
